:root{
  --dark:#0D3B45;
  --accent:#2EB6B3;
  --accent-dark:#1FA6A3;
  --text:#1f1f1f;
  --muted:#6e6e6e;
  --ok:#45b35f;
  --card:#e9e9e9;
  --shadow: 0 18px 50px rgba(0,0,0,.18);
  --radius: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
.btn-volver{
    text-decoration: none;
    background:#2BBBAD;
    border: 2px solid #2BBBAD;
    color: white;
    padding: 6px 18px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    position: fixed; 
    top: 20px;
    left: 20px;
}

.btn-volver:hover{
    background-color: #2BBBAD; 
    border: 2px solid #2BBBAD;
    border-color: #14a9a9;
    color: white;
}

.btn-volver:active{
    transform: scale(0.96);
}
#logo{
  width:55px;
  margin-left:92%;
  position: fixed; 
   top: 20px;
  left: 20px;
}
body {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url('../img/fondo.jpeg') no-repeat center center/cover;
}

/* Oscurece el fondo */
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
}

.login-container {
  position: relative;
  text-align: center;
  color: black;
  z-index: 2;

}

.login-container h1 {
  font-size: 50px;
  margin-bottom: 5px;
  color:white;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 30px;
  color:white;
}

/* Card */
.login-card {
  background: rgba(255, 255, 255, 0.4);
  padding: 30px;
  padding-top: 80px;
  margin-right: 160px;
  width: 200%;          /* responsive */
  max-width: 450px;    /* mantiene tu tamaño original */
  height: auto;        /* evita que se corte */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.login-card label {
  text-align: left;
  font-size: 20px;
  color:white;
  padding-bottom: -5px;
}

.login-card input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  margin-bottom: 40px;
}

.login-card input:focus {
  box-shadow: 0 0 0 4px #2BBBAD;
}

/* Botón */
.login-card button {
  margin-top: 10px;
  width: 50%;
  margin-left: 100px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #2BBBAD;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-card button:hover {
  background:#2BBBAD;
  transform: scale(1.03);

}

/* Links */
.link {
  font-size: 13px;
  color: white;
  text-decoration: none;
  margin-top: 5px;
}

.register {
  font-size: 13px;
}

.register a {
  color:  #2BBBAD;
  text-decoration: none;
  font-weight: bold;
}